*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(#c7f7bc8e, rgba(179, 250, 161, 0.973));
     background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
    align-items: center;
    height: 100vh;
    display: flex;
    color: rgb(4, 92, 26);
    justify-content: center;
}
.auth-container{
    display: flex;
    border: 2px solid rgb(75, 155, 0);
    position: relative;
    height: 440px;
    animation: glow 5s cubic-bezier(0.4, 0, 0.6, 1), infinite;
}
@keyframes glow{
    0%,100%{
        box-shadow: 0px 0px 10px 1px;
    }
    50%{
        box-shadow: 0px 0px 20px 1px;
    }
}
.auth-form-container{
    text-align: center;
    padding: 4rem 1rem;
}
.auth-from-heading{
    font-size: 1.5rem;
}
.auth-from{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.auth-section{
    background: linear-gradient(90deg, rgba(114, 139, 120, 0.384), rgba(175, 184, 176, 0.384), rgba(75, 168, 117, 0.459));
    display: flex;
    flex-direction: column;
    justify-content: absolute;
    position: relative;
}
.auth-section::before{
    content: " ";
    position: absolute;
    top:0;
    width: 5px;
    background: linear-gradient(to bottom, rgb(5, 145, 0), rgb(123, 248, 161));
    clip-path: polygon(0% 0, 100% 100%, 0% 100%);
    z-index: 2;
}
.login{
    align-items: flex-end;
    padding: 0 2rem 0 11rem;
    text-align: left;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 60% 100%);
}
.signup{
    align-items: flex-start;
    padding: 0 11rem 0 2rem;
    text-align: left;
    clip-path: polygon(0% 0, 100% 0, 35% 100%, 0% 100%);
}
.login::before{
    
    height: 32rem;
    transform: rotate(-30deg);
    transform-origin: top left;
}
.signup::before {
    right: 0;
    height: 34rem;
    transform: rotate(32deg);
    transform-origin: top right;
}
.signup-move{
    animation: slide 1s ease-in-out;
}
.login-move{
    animation: slideContrario 1s ease-in-out;
}
@keyframes slide{ 
    0%{
        transform: translateX(16rem);
        opacity: 0;
    }
    10%{
        transform: translateX(16rem);
        opacity: 1;
    }
}
.auth-input-container{
    position: relative;
    margin-bottom: 1.5rem;
}
img{
    border-radius: 40px;
}
  button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a047;
  } 